body{
    background-color: white ;
}

#grey{
    background-color: grey;
    height: 60px;
    width: 60px;
}
#white{
    background-color: white;
    height: 60px;
    width: 60px;
}
#blue{
    background-color: blue;
    height: 60px;
    width: 60px;
}
#yellow{
    background-color: yellow;
    height: 60px;
    width: 60px;
}
